body {
    background-color: rgb(10, 11, 9);
    /* background-image: url("../images/map.gif"); */
}

.jumbotron {
    background-image: url("../images/nightTrain.gif");
    background-repeat: space;
    /* background-position: left;  */
    background-color: rgb(10, 11, 9);
    height: 220px;
}

.jumbotron h1 {
    color: goldenrod;
    font-family: 'Quintessential', cursive;
}

h4 {
    color: white;
    font-family: 'Meddon', cursive; 
    /* need to change size in media queries */
}

h5 {
    color: goldenrod;
    font-family: 'Meddon', cursive;
}

.card-header,
.btn-default {
    background-color: rgb(113, 15, 15);
    color: goldenrod;
}

.glyphicon-refresh {
    background-color: white;
}