.jumbotron{
	background-image: url("../images/JE7TYUYMDMZ4TNQEQ27SLQ4TA4.jpg");
}

.jumbotron h1 {
    color: goldenrod;
    font-family: font-family: 'Meddon', cursive;
}

h3 {
    color; #fffff;
}

.fa-train{
	color: saddlebrown;
}

h5 {
	color: goldenrod;
}