.jumbotron{
    background-image: url("../images/hogwartsExpress.jpg");
    /* background-repeat: no-repeat; */
    background-position: center;
    background-color: rgb(19, 21, 18);
    height: 230px;
}

.jumbotron h1 {
    color: goldenrod;
    font-family: 'Quintessential', cursive;
}

h4 {
    color: white;
    font-family: 'Meddon', cursive; 
    /* need to change size in media queries */
}

h5 {
    color: goldenrod;
    font-family: 'Quintessential', cursive;
}

.card-header {
    background-color: goldenrod;
}

.btn-default {
    background-color: goldenrod;
}